<?xml version='1.0' encoding='utf-8'?>
<plugin 
    id="com.stuartmcvean.codovaapplewallet" 
    version="1.2.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

    <name>AppleWallet</name>
    
    <js-module name="AppleWallet" src="www/appleWallet.js">
        <clobbers target="cordova.plugins.AppleWallet" />
    </js-module>
    
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AppleWalletPlugin">
                <param name="ios-package" value="AppleWalletPlugin" />
            </feature>
        </config-file>
        
        <header-file src="src/ios/CDVAppleWallet.h" />

        <source-file src="src/ios/CDVAppleWallet.m" />
    </platform>
    
</plugin>